<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"2rem","padding":{"top":"5vh","bottom":"5vh"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:5vh;padding-bottom:5vh">

	<!-- wp:heading {"level":1} -->
	<h1>Error 404</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>The page you were looking is nowhere to be found. Maybe try the front page instead?</p>
	<!-- /wp:paragraph -->

	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"king","tagName":"footer","className":"site-footer"} /-->