<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">

	<!-- wp:group {"style":{"spacing":{"blockGap":"1em","padding":{"bottom":"2em"}}}} -->
	<div class="wp-block-group" style="padding-bottom:2em">
		<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->

		<!-- wp:term-description {"textAlign":"center"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"loop","theme":"king"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"king","tagName":"footer","className":"site-footer"} /-->