<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

	<!-- wp:group {"style":{"spacing":{"blockGap":"0.88em","padding":{"bottom":"2em"}}}} -->
	<div class="wp-block-group" style="padding-bottom:2em">
		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","width":100,"widthUnit":"%","buttonText":"Search","borderColor":"secondary"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"loop","theme":"king"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"king","tagName":"footer","className":"site-footer"} /-->