<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":".25em","padding":{"bottom":"10vh"}}}} -->
	<div class="wp-block-group alignwide" style="padding-bottom:10vh">

		<!-- wp:post-title {"textAlign":"center","level":1} /-->
		<!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textAlign":"center","textColor":"primary","fontSize":"heading-1"} /-->

	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"10vh"}}}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"32px"}}} -->
	<div class="wp-block-group">
		<!-- wp:post-content {"layout":{"inherit":true}} /-->

		<!-- wp:group {"layout":{"inherit":true}} -->
		<div class="wp-block-group">
			<!-- wp:group {"style":{"textColor":"primary","spacing":{"blockGap":"0.5em"}},"textColor":"primary","className":"has-primary-color has-text-color","layout":{"type":"flex","orientation":"vertical","justifyContent":"left","flexWrap":"nowrap"},"fontSize":"small"} -->
			<div class="wp-block-group has-primary-color has-text-color has-primary-color has-small-font-size">
				<!-- wp:group {"style":{"spacing":{"blockGap":"0.25em"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
				<div class="wp-block-group">
					<!-- wp:paragraph -->
					<p>In</p>
					<!-- /wp:paragraph -->

					<!-- wp:post-terms {"term":"category"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-terms {"term":"post_tag"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments","className":"comments","theme":"king"} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"3em","bottom":"1em"},"blockGap":"2em"}},"layout":{"inherit":true}} -->
	<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:3em;padding-bottom:1em">

		<!-- wp:query-pagination {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"className":"alignwide","layout":{"type":"flex","justifyContent":"space-between"}} -->
		<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->

		<!-- wp:post-navigation-link {"showTitle":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->
		<!-- /wp:query-pagination -->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"king","tagName":"footer","className":"site-footer"} /-->